#  Virtual Environment
myenv/
venv/
env/

#  Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#  Environment variables
.env

#  VS Code
.vscode/

#  Jupyter Notebook
.ipynb_checkpoints/

#  Logs
*.log

#  OS files
.DS_Store
Thumbs.db

#  Build / dist
build/
dist/
*.egg-info/

#  Media / temp files
*.mp4
*.avi
*.png
*.jpg
audio/
gemmatest.py
main.py
mictest.py
model_training.py
test2.py
training_data/
test/
dependency.txt
prompt.txt
llmtest.py
assistent_test.py

#  AI / ML models
model/
weights/
*.onnx
*.pt
media_logo.yolov8/
media_logo.yolov8.rar

#  Database
*.sqlite3